/*
  CLASS NAME CONVENTIONS

  Use BEM (Block, Element, Modifier) style:
    .Block
    .Block__element
    .Block--modifier
    .Block__element--modifier

  Each React component is a block, and any children within that component are
  elements. See the existing styles for examples.

  For more details on BEM, see https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
*/

.Counter {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.Counter__text {
  margin: 0;
}
