.HomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.HomePage__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  padding: 24px;
  gap: 48px;
}

.HomePage__title {
  margin: 0;

  font-size: 2.5rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.HomePage__buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;

  @media (max-width: 640px) {
    flex-direction: column;
  }
}

.HomePage__file-picker {
  display: none;
}
